In [ ]:
import pandas as pd
import numpy as np
df=pd.read_csv("/content/Titanic-Dataset (1).csv")
print("read succesfully")

read succesfully

In [ ]:
rows, columns = df.shape

print(f"Number of rows: {rows}")
print(f"Number of columns: {columns}")

Number of rows: 891
Number of columns: 12

In [ ]:
# Impute missing Age with median
df['Age'] = df['Age'].fillna(df['Age'].median())

# Impute missing Embarked with mode
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

# Drop irrelevant columns
irrelevant_cols = ['PassengerId', 'Name', 'Ticket', 'Cabin']
df.drop(columns=irrelevant_cols, inplace=True, errors='ignore')

print("\nMissing Values After Handling:")
print(df.isnull().sum())

Missing Values After Handling:
Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [ ]:
Q1 = df['Fare'].quantile(0.25)
Q3 = df['Fare'].quantile(0.75)
IQR=Q3-Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q1 + 1.5 * IQR
# Treat outliers by capping
df['Fare'] = np.where(df['Fare'] < lower_bound, lower_bound, df['Fare'])
df['Fare'] = np.where(df['Fare'] > upper_bound, upper_bound, df['Fare'])
print("LOWER--BOUND",lower_bound,"UPPER--BOUND",upper_bound)

LOWER--BOUND -26.724 UPPER--BOUND 42.5448

In [ ]:
from sklearn.preprocessing import LabelEncoder, StandardScaler, MinMaxScaler

dummy_cols = df.columns.intersection(['Sex', 'Embarked'])
df = pd.get_dummies(df, columns=dummy_cols, drop_first=True)

# 3. Label Encoding (for remaining categorical columns)
label_encoder = LabelEncoder()
categorical_cols = df.select_dtypes(include=['object']).columns

for col in categorical_cols:
    df[col] = label_encoder.fit_transform(df[col])

# View results
print("one-hot encoding")
df.head()

one-hot encoding

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_male,Embarked_Q,Embarked_S
0,0,3,22.0,1,0,7.2500,True,False,True
1,1,1,38.0,1,0,42.5448,False,False,False
2,1,3,26.0,0,0,7.9250,False,False,True
3,1,1,35.0,1,0,42.5448,False,False,True
4,0,3,35.0,0,0,8.0500,True,False,True

In [ ]:
from sklearn.model_selection import train_test_split
X = df.drop('Survived', axis=1)
y = df['Survived']
 # First split: Train (70%) and Temp (30%)
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.30, random_state=42, stratify=y)
 # Second split: Validation (15%) and Test (15%)
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.50, random_state=42, stratify=y_temp)

print("\nDataset Split Shapes")
print("---------------------")
print("Training Set   :", X_train.shape, y_train.shape)
print("Validation Set :", X_val.shape, y_val.shape)
print("Testing Set    :", X_test.shape, y_test.shape)

Dataset Split Shapes
---------------------
Training Set   : (623, 8) (623,)
Validation Set : (134, 8) (134,)
Testing Set    : (134, 8) (134,)